m-math {
  display: inline-block;
  font-size: 3rem;
  font-family: serif;
}

m-math * {
  display: inline-block;
  line-height: 0.8;
  font-size: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

m-math m-spacer[r="1"] { grid-row: 1; min-height: 0.5em; }
m-math m-spacer[r="2"] { grid-row: 2; }

m-math m-expr {
  display: grid;
  grid-template-rows: auto auto;
  position: relative; /* allow for offsetTop to work */
}

m-math m-op, m-math m-var, m-nm, m-rt {
  grid-row: 2;
  height: 0.6em;
}

m-math m-op > span, m-math m-var > span, m-math m-nm > span, m-math m-rt > span {
  position: relative;
  top: -0.4em;
}

m-math m-rt > span {
  padding-top: 0.2em;
  top: -0.6em;
  transform-origin: bottom;
}

m-math m-op, m-math m-rt {
  padding: 0 0.1em;
}

m-math m-op + m-par {
  padding: 0;
}

m-math m-nm {
}

m-math m-var {
  font-style: italic;
}

m-math m-rt > span {
  /* pull the exponent closer to the root glyph */
  margin-left: -0.3em;
}

m-math m-ubnd > m-expr {
  margin-bottom: 0.3em;
}

m-math m-sup, m-math m-sub, m-math m-lbnd, m-math m-ubnd {
  font-size: 80%;
}

m-math m-sup, m-math m-ubnd {
  grid-row: 1;
}

m-math m-sup[root] {
  margin-bottom: 0.12em;
}

m-math m-sub, m-math m-lbnd {
  grid-row: 2;
}

m-math m-num, m-math m-denom {
  text-align: center;
  grid-row: 2;
  font-size: 70%;
}

m-math m-denom > m-expr {
  display: inline-grid;
}

m-math m-num, m-math m-sup, m-math m-lbnd {
  display: flex;
}

m-math m-num > div, m-math m-sup > div, m-math m-lbnd > div {
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
}

m-math m-num {
  grid-row: 1;
  border-bottom: solid 1px black;
}

m-math m-par {
  grid-row: 1/3;
}

m-math m-par > div {
  transform-origin: top;
}

m-math m-sum {
  grid-row: 1/3;
  display: flex;
}

m-math m-sum > span {
  align-self: center;
  line-height: 1;
}

m-math m-rtstem {
  display: grid;
  border-top: 1px solid black;
  margin-top: 5px;
}

m-math m-expr > m-rtstem {
  grid-row: 1;
}

m-math m-rtstem[r="2"] {
  grid-row: 1/3;
}
